In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
reserve_tb = pd.read_csv("../awesomebook/data/reserve.csv")
production_tb = pd.read_csv("../awesomebook/data/production.csv")

In [2]:
pd.pivot_table(reserve_tb,index = 'customer_id',columns='people_num',values='reserve_id',aggfunc=lambda x:len(x),fill_value=0)

people_num   1  2  3  4
customer_id
c_1          2  2  2  2
c_10         0  2  2  2
c_100        2  1  2  0
c_1000       1  0  0  1
c_101        2  1  1  1
...         .. .. .. ..
c_994        1  0  0  0
c_995        2  2  1  3
c_996        0  4  3  0
c_997        0  1  1  0
c_999        1  3  1  1

[888 rows x 4 columns]