In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
reserve_tb = pd.read_csv("../awesomebook/data/reserve.csv")
production_tb = pd.read_csv("../awesomebook/data/production.csv")
customer_tb = pd.read_csv("../awesomebook/data/customer.csv")

In [2]:
customer_tb['sex_is_man'] = (customer_tb['sex']=='man').astype('bool')

In [7]:
customer_tb['age_rank'] = customer_tb['age']//10*10

In [4]:
customer_tb['sex_is_man'].astype('category')

0       True
1       True
2      False
3       True
4       True
       ...
995     True
996     True
997    False
998    False
999     True
Name: sex_is_man, Length: 1000, dtype: category
Categories (2, object): [False, True]

In [5]:
customer_tb['sex'] = pd.Categorical(customer_tb['sex'])

In [14]:
dummy_vars = pd.get_dummies(customer_tb['sex'],drop_first=False)

In [15]:
dummy_vars

     man  woman
0      1      0
1      1      0
2      0      1
3      1      0
4      1      0
..   ...    ...
995    1      0
996    1      0
997    0      1
998    0      1
999    1      0

[1000 rows x 2 columns]

In [20]:
customer_tb['age_rank'] = pd.Categorical(customer_tb['age']//10*10)
customer_tb['age_rank'].cat.add_categories(['60以上'],inplace=True)
customer_tb.loc[customer_tb['age_rank'].isin([60.0,70.0,80.0]),'age_rank']='60以上'
customer_tb

,customer_id,age,sex,home_latitude,home_longitude,sex_is_man,age_rank
0,c_1,41,man,35.092193,136.512347,True,40
1,c_2,38,man,35.325076,139.410551,True,30
2,c_3,49,woman,35.120543,136.511179,False,40
3,c_4,43,man,43.034868,141.240314,True,40
4,c_5,31,man,35.102661,136.523797,True,30
...,...,...,...,...,...,...,...
995,c_996,44,man,34.465648,135.373787,True,40
996,c_997,35,man,35.345372,139.413754,True,30
997,c_998,32,woman,43.062267,141.272126,False,30
998,c_999,48,woman,38.172800,140.464198,False,40
999,c_1000,39,man,35.452412,139.411310,True,30

In [36]:
falut_cnt_per_type = production_tb.query('fault_flg').groupby('type')['fault_flg'].count()
type_cnt = production_tb.groupby('type')['fault_flg'].count()
production_tb['type_fault_rate'] = production_tb[['type','fault_flg']].apply(lambda x:(falut_cnt_per_type[x[0]]-int(x[1]))/(type_cnt[x[0]]-1),axis=1)

ValueError: invalid literal for int() with base 10: 'D'

In [45]:
from sklearn.neighbors import KNeighborsClassifier

In [46]:
production_missc_tb = pd.read_csv("../awesomebook/data/production_missing_category.csv")
production_missc_tb.replace('None',np.nan,inplace=True)
train = production_missc_tb.dropna(subset=['type'],inplace=False)
test = production_missc_tb[~production_missc_tb['type'].isnull()]
test = production_missc_tb.loc[production_missc_tb.index.difference(train.index),:]

In [47]:
kn = KNeighborsClassifier(n_neighbors = 3)

In [48]:
kn.fit(train[['length','thickness']],train['type'])
test['type'] = kn.predict(test[['length','thickness']])

In [25]:
production_miss_num['thickness'] = production_miss_num['thickness'].astype(float)
thickness_mean = np.mean(production_miss_num['thickness'])
production_miss_num['thickness'].fillna(thickness_mean,inplace=True)

In [28]:
from fancyimpute import MICE

ModuleNotFoundError: No module named 'fancyimpute'