In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
reserve_tb = pd.read_csv("../awesomebook/data/reserve.csv")
production_tb = pd.read_csv("../awesomebook/data/production.csv")
customer_tb = pd.read_csv("../awesomebook/data/customer.csv")

In [6]:
reserve_tb['total_price_log'] = reserve_tb['total_price'].apply(lambda x: np.log10(x/1000+1))

In [7]:
customer_tb['age_rank'] = customer_tb['age']//10*10

In [8]:
customer_tb

    customer_id  age    sex  home_latitude  home_longitude  age_rank
0           c_1   41    man      35.092193      136.512347        40
1           c_2   38    man      35.325076      139.410551        30
2           c_3   49  woman      35.120543      136.511179        40
3           c_4   43    man      43.034868      141.240314        40
4           c_5   31    man      35.102661      136.523797        30
..          ...  ...    ...            ...             ...       ...
995       c_996   44    man      34.465648      135.373787        40
996       c_997   35    man      35.345372      139.413754        30
997       c_998   32  woman      43.062267      141.272126        30
998       c_999   48  woman      38.172800      140.464198        40
999      c_1000   39    man      35.452412      139.411310        30

[1000 rows x 6 columns]

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
reserve_tb['people_num'] = reserve_tb['people_num'].astype(float)

In [11]:
ss = StandardScaler()
result = ss.fit_transform(reserve_tb[['people_num','total_price']])
reserve_tb['people_num_normalized'] = [x[0] for x in result]
reserve_tb['total_price_normalized'] = [x[1] for x in result]

In [12]:
reserve_tb = reserve_tb[(abs(reserve_tb['total_price']-np.mean(reserve_tb['total_price']))/np.std(reserve_tb['total_price']))<=3].reset_index()

In [13]:
from sklearn.decomposition import PCA

In [18]:
pca = PCA(n_components=2)
pca_values = pca.fit_transform(production_tb[['length','thickness']])
pca_newvalues = pca.transform(production_tb[['length','thickness']])

In [23]:
production_miss_num = pd.read_csv("../awesomebook/data/production_missing_num.csv")

In [24]:
production_miss_num.replace('None',np.nan,inplace=True)

In [22]:
production_miss_num.dropna(subset=['thickness'],inplace=True)

In [25]:
production_miss_num['thickness'] = production_miss_num['thickness'].astype(float)
thickness_mean = np.mean(production_miss_num['thickness'])
production_miss_num['thickness'].fillna(thickness_mean,inplace=True)

In [28]:
from fancyimpute import MICE

ModuleNotFoundError: No module named 'fancyimpute'