In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [43]:
df = pd.read_csv("input/train.csv")

In [26]:
df["ord_2"].unique()

array(['Hot', 'Warm', 'Freezing', 'Lava Hot', 'Cold', 'Boiling Hot', nan],
      dtype=object)

In [27]:
mapping = {'Hot':4, 'Warm':1, 'Freezing':0, 'Lava Hot':5, 'Cold':2, 'Boiling Hot':3}

In [28]:
df['ord_2'] = df['ord_2'].map(mapping)
#df.loc[:,'ord_2'] = df.ord_2.map(mapping)

In [45]:
df["ord_2"].fillna("None",inplace=True)

In [29]:
df['ord_2'].fillna(-1,inplace=True)

In [33]:
df['ord_2'].isnull().sum()
df['ord_2'].unique()

array([5, 2, 1, 6, 3, 4, 0], dtype=int64)

In [31]:
df['ord_2'] = LabelEncoder().fit_transform(df['ord_2'])

In [36]:
example = np.random.randint(1000,size=1000000)
ohe = OneHotEncoder(sparse=False)
ohe_example = ohe.fit_transform(example.reshape(-1,1))
print(f"Size of dense array: {ohe_example.nbytes}")
ohe = OneHotEncoder(sparse=True)
ohe_example = ohe.fit_transform(example.reshape(-1,1))
print(f"Size of sparse array: {ohe_example.data.nbytes}")

Size of dense array: 8000000000
Size of sparse array: 8000000

In [38]:
df.groupby(["ord_2"]).id.count()

ord_2
0     18075
1    142726
2    124239
3     97822
4     84790
5     67508
6     64840
Name: id, dtype: int64

In [39]:
df.groupby(["ord_2"]).id.transform("count")

0          67508
1         124239
2         142726
3          64840
4          97822
           ...
599995    142726
599996     84790
599997    142726
599998    124239
599999     84790
Name: id, Length: 600000, dtype: int64

In [40]:
df.groupby(["ord_1","ord_2"])["id"].count().reset_index(name = "count")

          ord_1  ord_2  count
0   Contributor      0   3250
1   Contributor      1  26082
2   Contributor      2  22774
3   Contributor      3  17734
4   Contributor      4  15634
5   Contributor      5  12428
6   Contributor      6  11919
7        Expert      0   4225
8        Expert      1  33249
9        Expert      2  28900
10       Expert      3  22956
11       Expert      4  19477
12       Expert      5  15792
13       Expert      6  15078
14  Grandmaster      0   2894
15  Grandmaster      1  22818
16  Grandmaster      2  19899
17  Grandmaster      3  15464
18  Grandmaster      4  13623
19  Grandmaster      5  10805
20  Grandmaster      6  10363
21       Master      0   2262
22       Master      1  18035
23       Master      2  15734
24       Master      3  12364
25       Master      4  10800
26       Master      5   8594
27       Master      6   8209
28       Novice      0   4889
29       Novice      1  38233
30       Novice      2  33263
31       Novice      3  26271
32       Novice      4  22718
33       Novice      5  17850
34       Novice      6  17373

In [46]:

df["new_feature"] = df.ord_1.astype(str)+"_"+df.ord_2.astype(str)

In [47]:
df["new_feature"]

0                 Contributor_Hot
1                Grandmaster_Warm
2                    nan_Freezing
3                 Novice_Lava Hot
4                Grandmaster_Cold
                   ...
599995            Novice_Freezing
599996         Novice_Boiling Hot
599997       Contributor_Freezing
599998                Master_Warm
599999    Contributor_Boiling Hot
Name: new_feature, Length: 600000, dtype: object

In [48]:
train = pd.read_csv("input/train.csv")
test = pd.read_csv("input/test.csv")
test.loc[:,"target"]=-1
data = pd.concat([train,test]).reset_index(drop=True)

In [49]:
features = [x for x in data.columns if x not in ["id","target"]]

In [55]:
for feat in features:
    lb = LabelEncoder()
    tmp_col = data[feat].fillna("None").astype(str).values
    data.loc[:,feat] = lb.fit_transform(tmp_col)
train = data[data.target!=-1].reset_index(drop=True)
test = data[data.target==-1].reset_index(drop=True)

In [59]:
df.ord_4.fillna("None").value_counts()

N       39978
P       37890
Y       36657
A       36633
R       33045
U       32897
M       32504
X       32347
C       32112
H       31189
Q       30145
T       29723
O       25610
B       25212
E       21871
K       21676
I       19805
None    17930
D       17284
F       16721
W        8268
Z        5790
S        4595
G        3404
V        3107
J        1950
L        1657
Name: ord_4, dtype: int64

In [64]:
df = pd.read_csv("input/cat_train_folds.csv")

In [65]:
df.kfold.value_counts()

0    120000
1    120000
2    120000
3    120000
4    120000
Name: kfold, dtype: int64

In [66]:
df[df.kfold==0].target.value_counts()

0    97536
1    22464
Name: target, dtype: int64