In [1]:
import pandas as pd
import numpy as np

In [2]:
reserve_tb = pd.read_csv("../awesomebook/data/reserve.csv")

In [3]:
reserve_tb.loc[:,["reserve_id","hotel_id","customer_id","reserve_datetime","checkin_date","checkin_time","checkout_date"]]

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23
...,...,...,...,...,...,...,...
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09

In [6]:
reserve_tb.query('"2016-10-12" <= checkout_date <= "2016-10-14"')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
284,r285,h_121,c_67,2016-09-27 06:13:19,2016-10-12,12:00:00,2016-10-14,4,184000
347,r348,h_161,c_82,2016-09-22 22:29:52,2016-10-10,10:30:00,2016-10-12,2,178400
513,r514,h_74,c_120,2016-10-06 03:12:04,2016-10-11,12:30:00,2016-10-14,2,28800
587,r588,h_263,c_143,2016-09-25 20:07:03,2016-10-11,09:00:00,2016-10-12,4,91600
1065,r1066,h_205,c_261,2016-09-14 02:57:59,2016-10-11,10:00:00,2016-10-14,4,85200
1254,r1255,h_148,c_305,2016-09-12 15:32:03,2016-10-11,11:30:00,2016-10-12,4,39200
1480,r1481,h_116,c_364,2016-09-17 17:45:39,2016-10-11,11:30:00,2016-10-13,4,107200
1546,r1547,h_149,c_377,2016-09-27 08:19:24,2016-10-10,11:00:00,2016-10-13,2,153600
1709,r1710,h_59,c_422,2016-09-19 04:17:25,2016-10-10,12:00:00,2016-10-13,2,148800
1867,r1868,h_298,c_462,2016-10-07 20:47:32,2016-10-11,10:30:00,2016-10-12,3,29400
1890,r1891,h_134,c_467,2016-09-24 06:44:31,2016-10-10,12:00:00,2016-10-12,4,540800
1932,r1933,h_113,c_477,2016-09-24 09:04:26,2016-10-12,11:30:00,2016-10-13,4,77200
1986,r1987,h_116,c_499,2016-09-18 04:33:29,2016-10-09,11:00:00,2016-10-12,3,120600
2058,r2059,h_9,c_517,2016-09-19 15:32:35,2016-10-11,12:30:00,2016-10-13,3,188400
2115,r2116,h_77,c_527,2016-10-05 00:44:09,2016-10-11,09:00:00,2016-10-13,4,353600
2170,r2171,h_177,c_540,2016-09-28 01:21:26,2016-10-11,10:00:00,2016-10-13,4,560800
2203,r2204,h_82,c_549,2016-09-27 01:47:57,2016-10-10,12:00:00,2016-10-13,2,76200
2290,r2291,h_230,c_574,2016-10-09 04:34:14,2016-10-12,12:00:00,2016-10-13,1,17400
2496,r2497,h_273,c_624,2016-09-21 06:32:11,2016-10-09,09:00:00,2016-10-12,2,269400
2523,r2524,h_203,c_631,2016-09-14 10:45:15,2016-10-12,10:30:00,2016-10-14,3,167400
2555,r2556,h_193,c_639,2016-09-11 17:36:25,2016-10-11,10:30:00,2016-10-14,4,702000
2734,r2735,h_178,c_690,2016-10-11 14:06:11,2016-10-11,09:00:00,2016-10-14,3,189000
3010,r3011,h_156,c_761,2016-10-09 08:22:07,2016-10-11,11:30:00,2016-10-14,3,165600
3027,r3028,h_88,c_765,2016-09-14 09:47:18,2016-10-09,09:30:00,2016-10-12,1,72900
3136,r3137,h_218,c_792,2016-09-20 02:15:43,2016-10-10,10:30:00,2016-10-13,1,63000
3303,r3304,h_271,c_829,2016-09-17 06:33:49,2016-10-09,11:30:00,2016-10-12,1,26100
3327,r3328,h_23,c_833,2016-09-28 08:22:57,2016-10-13,09:00:00,2016-10-14,4,260400
3605,r3606,h_147,c_900,2016-09-28 19:13:15,2016-10-10,12:00:00,2016-10-13,2,80400
3650,r3651,h_133,c_909,2016-09-21 23:05:37,2016-10-10,11:00:00,2016-10-12,4,100800
3770,r3771,h_93,c_939,2016-09-27 05:50:26,2016-10-10,12:30:00,2016-10-13,1,29400
3968,r3969,h_104,c_986,2016-09-21 16:53:22,2016-10-11,12:30:00,2016-10-12,3,126600

In [5]:
reserve_tb.dtypes

reserve_id          object
hotel_id            object
customer_id         object
reserve_datetime    object
checkin_date        object
checkin_time        object
checkout_date       object
people_num           int64
total_price          int64
dtype: object

In [7]:
reserve_tb.sample(frac=0.5)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
1377,r1378,h_7,c_337,2017-08-25 10:33:45,2017-08-27,09:00:00,2017-08-29,4,151200
3467,r3468,h_166,c_864,2016-09-10 20:34:35,2016-10-02,09:00:00,2016-10-03,2,33200
3542,r3543,h_250,c_881,2016-04-20 09:58:53,2016-05-17,09:30:00,2016-05-19,2,103200
40,r41,h_23,c_7,2016-10-14 02:41:13,2016-10-15,12:00:00,2016-10-16,2,130200
1207,r1208,h_89,c_295,2016-11-01 17:01:27,2016-11-18,12:00:00,2016-11-21,3,79200
...,...,...,...,...,...,...,...,...,...
1785,r1786,h_52,c_442,2018-09-12 05:12:54,2018-09-18,09:00:00,2018-09-21,1,81300
2710,r2711,h_246,c_682,2017-12-12 19:13:17,2018-01-05,11:00:00,2018-01-07,3,232800
850,r851,h_29,c_206,2016-04-18 09:42:01,2016-05-10,10:00:00,2016-05-11,4,37200
3694,r3695,h_218,c_919,2017-02-20 16:45:17,2017-02-24,11:00:00,2017-02-27,4,252000
2070,r2071,h_151,c_519,2017-07-13 13:04:15,2017-07-15,09:30:00,2017-07-18,2,249000

In [12]:
target = pd.Series(reserve_tb['customer_id'].unique()).sample(frac=0.5)
reserve_tb[reserve_tb['customer_id'].isin(target)]

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000
...,...,...,...,...,...,...,...,...,...
3994,r3995,h_278,c_992,2016-11-30 23:07:57,2016-12-01,12:00:00,2016-12-02,3,31800
3995,r3996,h_208,c_992,2017-01-10 10:15:59,2017-01-15,12:30:00,2017-01-17,4,71200
3996,r3997,h_143,c_992,2017-02-23 09:24:00,2017-03-03,09:00:00,2017-03-05,1,39600
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100