In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
reserve_tb = pd.read_csv("../awesomebook/data/reserve.csv")
production_tb = pd.read_csv("../awesomebook/data/production.csv")

In [3]:
train_data,test_data,train_target,test_target = train_test_split(production_tb.drop('fault_flg',axis=1),production_tb[['fault_flg']],test_size=0.2)

In [4]:
train_data.reset_index(inplace=True,drop=True)
test_data.reset_index(inplace=True,drop=True)
train_target.reset_index(inplace=True,drop=True)
train_target.reset_index(inplace=True,drop=True)

In [5]:
row_no_list = list(range(len(train_data)))
k_fold = KFold(n_splits=4,shuffle=True)

In [7]:
for train_cv_no,test_cv_no in k_fold.split(row_no_list):
    train_cv = train_data.iloc[train_cv_no,:]
    test_cv = train_data.iloc[test_cv_no,:]

In [9]:
monthly_index_tb = pd.read_csv("../awesomebook/data/monthly_index.csv")

In [12]:
monthly_index_tb.sort_values(by = 'year_month')

    year_month  sales_amount  customer_number
0      2010-01       7191240             6885
1      2010-02       6253663             6824
2      2010-03       6868320             7834
3      2010-04       7147388             8552
4      2010-05       8755929             8171
..         ...           ...              ...
115    2019-08      80528792            97059
116    2019-09      90191653            86560
117    2019-10      95749954            99507
118    2019-11      86998004            85215
119    2019-12     104401092            93620

[120 rows x 3 columns]

In [13]:
train_window_start = 1
train_window_end = 24
horizon = 12
skip = 12
while True:
    test_window_end = train_window_end+horizon
    train = monthly_index_tb[train_window_start:train_window_end]
    test = monthly_index_tb[(train_window_end+1):test_window_end]
    if test_window_end>=len(monthly_index_tb):
        break
    train_window_start+=skip
    train_window_end += skip

In [14]:
#sklearnのTimeSeriesSplitもよい