In [2]:
import pandas as pd
import numpy as np
reserve_tb = pd.read_csv("../awesomebook/data/reserve.csv")
hotel_tb = pd.read_csv("../awesomebook/data/hotel.csv")

In [3]:
pd.merge(reserve_tb.query('people_num==1'),hotel_tb.query('is_business'),on='hotel_id',how='inner')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,base_price,big_area_name,small_area_name,hotel_latitude,hotel_longitude,is_business
0,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,34500,C,C-1,38.237294,140.696131,True
1,r997,h_256,c_244,2016-10-15 22:47:40,2016-10-31,10:30:00,2016-11-02,1,69000,34500,C,C-1,38.237294,140.696131,True
2,r2602,h_256,c_650,2016-05-10 00:42:56,2016-05-12,11:00:00,2016-05-14,1,69000,34500,C,C-1,38.237294,140.696131,True
3,r3738,h_256,c_930,2017-04-12 09:53:00,2017-05-08,11:30:00,2017-05-09,1,34500,34500,C,C-1,38.237294,140.696131,True
4,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,9900,G,G-4,33.595248,130.633567,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,r2766,h_56,c_698,2017-04-08 16:41:45,2017-05-03,12:30:00,2017-05-06,1,95700,31900,C,C-3,38.435640,140.898354,True
442,r2983,h_56,c_753,2016-06-18 23:17:50,2016-07-13,10:00:00,2016-07-14,1,31900,31900,C,C-3,38.435640,140.898354,True
443,r2839,h_231,c_715,2016-04-06 02:51:01,2016-04-08,09:00:00,2016-04-10,1,29200,14600,A,A-3,35.914151,139.837520,True
444,r3476,h_43,c_866,2016-09-17 21:09:02,2016-10-03,09:30:00,2016-10-04,1,18100,18100,B,B-1,35.437093,139.799077,True
445,r3539,h_262,c_880,2016-11-06 08:55:35,2016-11-11,12:30:00,2016-11-14,1,57000,19000,C,C-3,38.434114,140.697486,True

In [12]:
import gc
small_area_mst = hotel_tb.groupby(['big_area_name','small_area_name'],as_index=True).size().reset_index()
small_area_mst.columns = ['big_area_name','small_area_name','hotel_cnt']
small_area_mst['join_area_id'] = np.where(small_area_mst['hotel_cnt']-1>=20,small_area_mst['small_area_name'],small_area_mst['big_area_name'])

In [14]:
small_area_mst.drop(['hotel_cnt','big_area_name'],axis = 1,inplace=True)

In [15]:
base_hotel_mst = pd.merge(hotel_tb,small_area_mst,on='small_area_name').loc[:,['hotel_id','join_area_id']]

In [16]:
del small_area_mst

In [17]:
gc.collect()

53957

In [21]:
result = reserve_tb.groupby('customer_id').apply(lambda group:group.sort_values(by = 'reserve_datetime'))

In [22]:
result

                 reserve_id hotel_id customer_id     reserve_datetime  \
customer_id
c_1         0            r1     h_75         c_1  2016-03-06 13:09:42
            1            r2    h_219         c_1  2016-07-16 23:39:55
            2            r3    h_179         c_1  2016-09-24 10:03:17
            3            r4    h_214         c_1  2017-03-08 03:20:10
            4            r5     h_16         c_1  2017-09-05 19:50:37
...                     ...      ...         ...                  ...
c_999       4023      r4024    h_244       c_999  2016-10-06 18:01:34
            4024      r4025    h_160       c_999  2017-03-11 11:56:05
            4025      r4026    h_129       c_999  2017-06-27 23:00:02
            4026      r4027     h_97       c_999  2017-09-29 05:24:57
            4027      r4028     h_27       c_999  2018-03-14 05:01:45

                 checkin_date checkin_time checkout_date  people_num  \
customer_id
c_1         0      2016-03-26     10:00:00    2016-03-29           4
            1      2016-07-20     11:30:00    2016-07-21           2
            2      2016-10-19     09:00:00    2016-10-22           2
            3      2017-03-29     11:00:00    2017-03-30           4
            4      2017-09-22     10:30:00    2017-09-23           3
...                       ...          ...           ...         ...
c_999       4023   2016-10-07     11:30:00    2016-10-09           3
            4024   2017-03-27     10:00:00    2017-03-30           1
            4025   2017-07-10     09:30:00    2017-07-11           2
            4026   2017-10-09     10:30:00    2017-10-10           2
            4027   2018-04-02     11:30:00    2018-04-04           2

                  total_price
customer_id
c_1         0           97200
            1           20600
            2           33600
            3          194400
            4           68100
...                       ...
c_999       4023        59400
            4024        37200
            4025        16000
            4026        41800
            4027        74800

[4030 rows x 9 columns]

In [28]:
result['before_price'] = result['total_price'].groupby('customer_id').shift(periods=2)

In [30]:
result['total_price']

customer_id
c_1          0        97200
             1        20600
             2        33600
             3       194400
             4        68100
                      ...
c_999        4023     59400
             4024     37200
             4025     16000
             4026     41800
             4027     74800
Name: total_price, Length: 4030, dtype: int64